Source: comitup-watch
Section: net
Priority: optional
Maintainer: David Steele <steele@debian.org>
Build-Depends:
    debhelper-compat (=12),
    dh-sequence-python3,
    dh-python,
    python3-all,
    python3-setuptools,
    python3-pytest,
    python3-pytest-runner,
    python3-pytest-asyncio,
    python3-tabulate,
    python3-dbussy,
    python3-zeroconf,
    pandoc,
Standards-Version: 4.5.1
X-Python3-Version: >= 3.6
Rules-Requires-Root: binary-targets
Homepage: https://davesteele.github.io/comitup/
Vcs-Git: https://github.com/davesteele/comitup-watch.git -b debian
Vcs-Browser: https://github.com/davesteele/comitup-watch

Package: comitup-watch
Architecture: all
Depends:
    ${python3:Depends},
    ${misc:Depends},
    network-manager,
    avahi-daemon,
Description: monitor local Comitup-enabled devices
 Comitup-watch creates a terminal display showing the status of Comitup devices
 on the local network. This includes the hotspot name for unconnected devices,
 IP address information for connected ones, and a current ping status.
